<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Hc1ward1</servlet-name>
		<servlet-class>org.lds.hcstake.hc1ward.Hc1wardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PermissionService</servlet-name>
		<servlet-class>org.lds.hcstake.hc1ward.service.PermissionService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberService</servlet-name>
		<servlet-class>org.lds.hcstake.hc1ward.service.MemberService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberService</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermissionService</servlet-name>
		<url-pattern>/permission/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hc1ward1</servlet-name>
		<url-pattern>/hc1ward1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
